# Ignore build artifacts from the local tests sub-crate.
/flipper/target/

# Ignore backup files creates by cargo fmt.
/flipper/**/*.rs.bk

# Remove Cargo.lock when creating an executable, leave it for libraries
# More information here http://doc.crates.io/guide.html#cargotoml-vs-cargolock
/flipper/Cargo.lock

